

.abc{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.bg{
    background: url('back.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.info_box
{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 52.25rem; 
    height: 30rem;  
    background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(25px);
	border-radius: 10px;
  }

  .info_box.activeInfo{
    opacity: 0;
}

  .info_box .info-title{
    height: 6rem;
    width: 92.5%;
    font-family: 'Comfortaa', cursive;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items:center;
    padding: 0 2rem;
    font-size: 2.6rem;
    color: whitesmoke;
    
}

.info_box .info-list{
    padding: 1.5rem 2.5rem;
}

.info_box .info-list .info{
    margin: .8rem 0;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

.info_box .info-list .info span{
    font-weight: 600;
    color:rgb(211, 226, 0);
}
.info_box .buttons{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4rem;
    border-top: 1px solid lightgrey;
    
}

.info_box .buttons button{
    margin: 0 .5rem;
    height: 2rem;
    width: 6.25rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.35rem;
    border: 1px solid black;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
	border-radius: 10px;
}

button:hover{
    transform: scale(1.5);
}
.info_box .buttons #zoom{
    margin-right: 25px;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	75% {
		background-position: 100% 50%;
	}
	150% {
		background-position: 0% 50%;
	}
}


/* Quiz Box */

.quiz_box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45rem; 
    height: 20rem; 
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
     opacity: 0;
     pointer-events: none;
}



.quiz_box.activeQuiz{
opacity: 1;
z-index: 5;
pointer-events: auto;
transform: translate(-50%, -50%) scale(1);
}









/* border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);     
    background: rgba( 255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  */

    /* options */

    section{
        padding: 25px 30px 20px 30px;
        background: #fff;
        margin-top: 100px;
    }
    
     .que_text{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    
    .option_list{
        padding: 20px px;
        display: block;  
        
         
    }
    
    .option_list .option{
        background: aliceblue;
        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 10px;
        align-items: center;
        justify-content: space-between;
        pointer-events: auto;
        width: 200px;
        display: inline-flex;
        justify-content: space-around;
        margin:10px 48px;
    }
     
    

    /* .option_list .option:last-child{
        /* margin-bottom: 0px;
    }  */
    
    .option_list .option:hover{
        color: #004085;
        background: #cce5ff;
        border: 1px solid #b8daff;
    }
    
    .option_list .option.correct{
        color: white;
        background: blue;
        border: 1px solid #c3e6cb;
    }
    
    .option_list .option.incorrect{
        color: black;
        background: red;
        border: 1px solid #f5c6cb;
    }
    
    .option_list .option.disabled{
        pointer-events: none;
    }
    
    .option_list .option .icon{
        height: 26px;
        width: 26px;
        border: 2px solid transparent;
        border-radius: 50%;
        text-align: center;
        font-size: 13px;
        pointer-events: none;
        transition: all 0.3s ease;
        line-height: 24px;
    }
    .option_list .option .icon.tick{
        color: #23903c;
        border-color: #23903c;
        background: #d4edda;
    }
    
    .option_list .option .icon.cross{
        color: #a42834;
        background: #f8d7da;
        border-color: #a42834;
    }
    
    footer{
        height: 60px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid lightgrey;
    }
    
    footer .total_que span{
        display: flex;
        user-select: none;
    }
    
    footer .total_que span p{
        font-weight: 500;
        padding: 0 5px;
    }
    
    footer .total_que span p:first-child{
        padding-left: 0px;
    }
    
    footer button{
        height: 40px;
        padding: 0 13px;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 5px;
        background: #007bff;
        border: 1px solid #007bff;
        line-height: 10px;
        opacity: 0;
        pointer-events: none;
        transform: scale(0.95);
        transition: all 0.3s ease;
    }
    
    footer button:hover{
        background: #0263ca;
    }
    
    footer button.show{
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
    }
    
    .next_btn{
        height: 40px;
        padding: 0 13px;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 5px;
        background: #007bff;
        border: 1px solid #007bff;
        line-height: 10px;
        opacity: 0;
        pointer-events: auto;
        transform: scale(0.95);
        transition: all 0.3s ease;
    }
    
    .next_btn:hover{
        transform: scale(1.2);
    }
    

 
.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    top:10px;
    align-items: center;
    justify-content: space-between;
    width: 145px;
} 

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
    margin-top: 9%;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    top:6px;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: black;
}


.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    display: block;
    margin-left: 50%;
    margin-top: 25%;
    
    }
    .result_box{
        background: url('back.gif');
        border-radius: 5px;
        display: flex;
        padding: 25px 30px;
        width: 300px;
        height: 400px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        
        
    }
    
    .result_box .icon{
        font-size: 100px;
        color: #007bff;
        margin-bottom: 10px;
    }
    
    .result_box .complete_text{
        font-size: 20px;
        font-weight: 500;
    }
    
    .result_box .score_text span{
        display: flex;
        margin: 10px 0;
        font-size: 18px;
        font-weight: 500;
    }
    
    .result_box .score_text span p{
        padding: 0 4px;
        font-weight: 600;
    }
    
    .result_box .resultbuttons{
        display: flex;
        margin: 20px 0;
    }
    
    .result_box .resultbuttons button{
        margin: 0 10px;
        height: 45px;
        padding: 0 20px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 5px;
        border: 1px solid #007bff;
        transition: all 0.3s ease;
        margin-top: 90%;
    }
    
    .resultbuttons button.restart{
        color: #fff;
        background: #007bff;
    }
    
    .resultbuttons button.restart:hover{
        background: #0263ca;
        transform: scale(1.2);
    }
    
    .resultbuttons button.quit{
        color: #007bff;
        background: #fff;
    }
    
    .resultbuttons button.quit:hover{
        color: #fff;
        background: #007bff;
        transform: scale(1.2);
    }

    .result_btn{
        opacity: 0;
    }
    .result_btn.result_show{
        opacity: 1;
        z-index: 6;
    }

   